/* variables */
:root{ 
  --navbar: #4D4D4D;
  --buttons: #E699FF;
  --plans: #8878C2;
}

/* fonts */


/* based styles */
.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: var(--navbar);
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

button {
  cursor: pointer;
}

.title-page {
  text-align: center;
  text-transform: capitalize;
  margin: 40px 0px 40px;
}

.content{
    width: 70%;
    margin: 30px auto 30px;
  }

.btn-user {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 0;
  padding-top: 50%;
  margin-top: 5px;
  border-radius: 50%;
  text-transform: uppercase;
  background-color: var(--buttons);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-btn {
  grid-column: 12/12;
  width: 80px;
  height: 50px;
  text-align: center;
  position: relative;
  border: none;
  border-radius: 10%;
  color: #ffffff;
  background-color: #E699FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.links-navbar {
  float: right;
}

.plan-cards {
  background-color: var(--plans);
  color: #ffffff;
}

.dashboard .plan-list{
  grid-column: 1/6;
}

.dashboard .notifications{
  background: #A199FF;
  color: white;
  grid-column: 8/12;
  margin-top: 20px;
  padding: 5px;
}

.notifications .title{
  font-size: 20px;
  text-align: center;
}

.notifications .notifications-list {
  padding-left: 5px;
  margin-top: 40px;
}

.notifications li {
  margin-bottom: 15px;
}

.notifications .user-name {
  color: #3D3D3D;
}


/* set in up the color of focus input elements */
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: var(--plans);
  box-shadow: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
